<%- include('../partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/newpost.css">
<%- include('../partials/navbar') %>
<header>
    <img id="headerImg" src="./images/newpost.jpg" alt="Contact">
    <h1 class="mainTitle">New Article</h1>
</header>

<main>
    <form action="/post-article" method="post">
        <div class="form-group">
            <label for="author">Author: </label>
            <input type="text" name="author" id="author">
        </div>
        <div class="form-group">
            <label for="imgUrl">Image URL: </label>
            <input type="text" name="imgUrl" id="imgUrl">
        </div>
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="content">Content: </label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>

        <input class="postBtn" type="submit" value="Post Article">
    </form>
</main>


<%- include('../partials/footer') %>
<%- include('../partials/jsLinks') %>
<!-- JAVASCRIPT LINKS -->
<script src="./js/newpost.js"></script>

<%- include('../partials/htmlBottom') %>