<%- include('./partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/articles.css">
<%- include('./partials/navbar') %>
<header>
    <img id="headerImg" src="./images/articles.jpg" alt="Articles">
    <h1 class="mainTitle">Articles</h1>
</header>

<main>
    <button class="composeBtn" onclick=" location.href = '/new_article' ">Compose New Article</button>
    <div class="articlesContainer">

        <% articles.forEach( article => { %>
            <div class="article">
                <div class="col1">
                    <h1 class="title"><%= article.title %></h1>
                    <h5 class="date"><%= article.date %></h5>
                    <p class="content"><%= article.content.slice(0, 200) %><span>... <a href="#">Read More >>></a></span></p>
                </div>
                <div class="col2">
                    <img class="image" src="" alt="">
                </div>
            </div>

        <% }) %>

        
    </div>
</main>


<%- include('./partials/footer') %>
<%- include('./partials/jsLinks') %>
<!-- JAVASCRIPT LINKS -->


<%- include('./partials/htmlBottom') %>