<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>

    <link rel="icon" href="/images/icsilogo.png">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/article.css">

<%- include('./partials/navbar') %>
    <article class="articleContainer">
        <header>
            <img class="articleImg" src=" <%= article.imgUrl %> " alt="Article Image">
        </header>
        <main>
            <div>
                <h1 class="mainTitle"><%= article.title %></h1>
                <h4 class="author">By: <%= article.author %></h4>
                <h4 class="date"><%= article.date %></h4>
                <p><%= article.content %></p>
            </div>
        </main>
    </article>
    <% if(isAuth) {%>
        <div class="btnGroup">
            <form method="GET" action="/edit/<%= article.id %>">
                <button class="adminBtns updateBtn">Update</button>
            </form>
            <form method="POST" action="/articles/<%= article._id %>?_method=DELETE">
                <button href="#" class="adminBtns deleteBtn">Delete</button>
            </form>
        </div>
    <% } %>

    <button id="articlesBtn" onclick=" location.href = '/articles' ">Back to All Articles</button>



    <%- include('./partials/footer') %>
    <%- include('./partials/jsLinks') %>
<!-- JAVASCRIPT LINKS -->

    <%- include('./partials/htmlBottom') %>