<%- include('./partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/articles.css">
<%- include('./partials/navbar') %>
<header>
    <img id="headerImg" src="./images/articles.jpg" alt="Articles">
    <h1 class="mainTitle">Articles</h1>
</header>

<main>
    <button class="composeBtn" onclick=" location.href = '/new_article' ">Compose New Article</button>
    <div class="articlesContainer">
        <div>Article1</div>
        <div>Article2</div>
        <div>Article3</div>
    </div>
</main>


<%- include('./partials/footer') %>
<%- include('./partials/jsLinks') %>
<!-- JAVASCRIPT LINKS -->


<%- include('./partials/htmlBottom') %>